<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mgt">

	<resultMap id="memberResult" type="member">
		<id property="memberId" column="MID" />
		<result property="memberMail" column="EMAIL" />
		<result property="memberPhone" column="MTEL" />
		<result property="memberPass" column="PASS" />
		<result property="memberName" column="USERNAME" />
		<result property="memberIntro" column="INTRO" />
		<result property="memberDate" column="MDATE" />
	</resultMap>
	
	<resultMap id="stationResult" type="station">
		<id property="stationCode" column="STATION_CODE" />
		<result property="stationName" column="STATION_NAME" />
		<result property="stationNameEng" column="STATION_NAME_ENG" />
		<result property="lineNumber" column="LINE" />
		<result property="fCode" column="F_CODE" />
	</resultMap>
	
	<resultMap id="noticeResult" type="cs">
		<id property="nid" column="NID" />
		<result property="ntitle" column="NTITLE" />
		<result property="ncontent" column="NCONTENT" />
		<result property="ndate" column="NDATE" />
		<result property="lno" column="LNO" />
		<result property="cnt" column="CNT" />
	</resultMap>
	
	<insert id="insertKey" parameterType="String">
		INSERT INTO api_table 
		VALUES (#{apiKey})
	</insert>
	
	<select id="selectMember" resultMap="memberResult">
		SELECT * FROM 
		member
	</select>
	
	<select id="selectStation" parameterType="map" resultMap="stationResult">
		SELECT * 
		FROM (
			SELECT ROWNUM rnum, a.* 
			FROM stations a 
			<if test="searchWord != null">
			WHERE station_code LIKE '%'||#{searchWord}||'%' 
				OR station_name LIKE '%'||#{searchWord}||'%'
			</if>
			<if test="line != null">
		 	WHERE a.line = #{line}
		 	</if>
			ORDER BY a.station_code) s 
		 WHERE (s.rnum BETWEEN ${startIndex} AND ${endIndex}) 
		 
	</select>
	
	<select id="selectNotice" resultMap="noticeResult">
		SELECT * FROM notice 
		WHERE ROWNUM <![CDATA[<]]> 11 
		ORDER BY NDATE 
	</select>
	
	<select id="selectExitNumber" parameterType="String" resultType="String">
		SELECT exit_number FROM station_exits 
		WHERE station_name = #{stationName} 
		GROUP BY exit_number
	</select>
	
	<select id="selectExitInfo" parameterType="map" resultType="String">
		SELECT spot FROM station_exits 
		WHERE station_name = #{stationName} 
		AND exit_number = #{exitNumber} 	
	</select>
	
	<select id="selectByStationCode" parameterType="String" resultType="String">
		SELECT station_name 
		FROM stations 
		WHERE station_code = #{stationCode}
	</select>
	
	<select id="selectStationCode" parameterType="String" resultType="String">
		SELECT MIN(station_code) FROM stations 
		WHERE station_name = (SELECT station_name FROM stations WHERE station_code = #{stationCode})
	</select>
</mapper>