@CHARSET "UTF-8";

/* 지하철 호선 */
.wrapSearch .align {
	height: 31px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	width: 100%;
}

/* 지하철 호선 틀 */
.srch .alignLine {
	margin: 0 14px;
}

/* 지하철 호선 박스 */
.srch .alignLine .lnTxt {
	width: 91px;
	float: left;
	text-align: center;
	height: 34px;
	border: 1px solid #d4d4d4;
	margin: 1px;
}

/* 지하철 역 정보 */
.searchResult {
	clear: both;
	width: 100%;
}

.searchResult .title {
	line-height: 32px;
	border-bottom: 2px solid #0093d0;
}

.searchResult .stnm {
	height: 34px;
	line-height: 34px;
	padding-left: 14px;
	border-bottom: 1px solid #d4d4d4;
}

.searchResult .vline {
	float: left;
	position: absolute;
	right: 105px;
	z-index: -1;
}

.searchResult .vline2 {
	float: left;
	position: absolute;
	right: 47px;
	z-index: -1;
}