@charset "UTF-8";

.line01{
	background-color:#00498B;
} 
.border-line01{
	border-color:#00498B;
} 
.text-line01{
	color:#00498B;
} 
.line02{
	background-color:#009246;
} 
.border-line02{
	border-color:#009246;
} 
.text-line02{
	color:#009246;
} 
.line03{
	background-color:#F36630;
} 
.border-line03{
	border-color:#F36630;
} 
.text-line03{
	color:#F36630;
} 
.line04{
	background-color:#00A2D1;
} 
.border-line04{
	border-color:#00A2D1;
} 
.text-line04{
	color:#00A2D1;
} 
.line05{
	background-color:#A064A3;
} 
.border-line05{
	border-color:#A064A3;
} 
.text-line05{
	color:#A064A3;
} 
.line06{
	background-color:#9E4510;
} 
.border-line06{
	border-color:#9E4510;
} 
.text-line06{
	color:#9E4510;
} 
.line07{
	background-color:#5D6519;
} 
.border-line07{
	border-color:#5D6519;
} 
.text-line07{
	color:#5D6519;
} 
.line08{
	background-color:#D6406A;
} 
.border-line08{
	border-color:#D6406A;
} 
.text-line08{
	color:#D6406A;
} 
.line09{
	background-color:#A17E46;
} 
.border-line09{
	border-color:#A17E46;
} 
.text-line09{
	color:#A17E46;
} 
.line-k{
	background-color:#72C7A6;	/* 경의선 */
} 
.border-line-k{
	border-color:#72C7A6;	/* 경의선 */
} 
.text-line-k{
	color:#72C7A6;	/* 경의선 */
} 
.line-a{
	background-color:#0065B3;	/* 공항철도 */
} 
.border-line-a{
	border-color:#0065B3;	/* 공항철도 */
} 
.text-line-a{
	color:#0065B3;	/* 공항철도 */
} 
.line-g{
	background-color:#2ABFD0;	/* 경춘선 */
} 
.border-line-g{
	border-color:#2ABFD0;	/* 경춘선 */
} 
.text-line-g{
	color:#2ABFD0;	/* 경춘선 */
} 
.line-i{
	background-color:#6E98BB;	/* 인천선 */
} 
.border-line-i{
	border-color:#6E98BB;	/* 인천선 */
} 
.text-line-i{
	color:#6E98BB;	/* 인천선 */
} 
.line-i2{
	background-color:#ED8B00;	/* 인천2선 */
} 
.border-line-i2{
	border-color:#ED8B00;	/* 인천2선 */
} 
.text-line-i2{
	color:#ED8B00;	/* 인천2선 */
} 
.line-su{
	background-color: #E9A600;	/* 수인선 */
} 
.border-line-su{
	border-color: #E9A600;	/* 수인선 */
} 
.text-line-su{
	color: #E9A600;	/* 수인선 */
} 
.line-b{
	background-color:#D4A017;	/* 분당선 */
} 
.border-line-b{
	border-color:#D4A017;	/* 분당선 */
} 
.text-line-b{
	color:#D4A017;	/* 분당선 */
} 
.line-sb{
	background-color:#BB1833;	/* 신분당선 */
} 
.border-line-sb{
	border-color:#BB1833;	/* 신분당선 */
} 
.text-line-sb{
	color:#BB1833;	/* 신분당선 */
} 
.line-w{
	background-color:#B7C452;	/* 우이신설경전철 */
}
.border-line-w{
	border-color:#B7C452;	/* 우이신설경전철 */
}
.text-line-w{
	color:#B7C452;	/* 우이신설경전철 */
}
/* 의정부경전철, 에버라인 */ 


.table-schedule td {
	width : 3em;
}
